<div id="loader"
class="fixed inset-0 z-[9999] bg-[#0B1020] flex flex-col justify-center items-center">

    <!-- Logo -->

<img
    src="/VOTIFY/assets/images/logo.png"
    alt="VOTIFY"
    class="w-44 sm:w-52 md:w-60 lg:w-64 xl:w-72 h-auto object-contain float pulse">

    <h2
    id="loadingText"
    class="mt-8 text-xl font-semibold gradient-text">

        Preparing Secure Election...

    </h2>

    <!-- Progress -->

    <div
    class="w-64 h-2 bg-white/10 rounded-full mt-8 overflow-hidden">

        <div
        id="loadingProgress"
        class="h-full w-0 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 rounded-full transition-all duration-300">

        </div>

    </div>

</div>